@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

* {
    font-family: Quicksand, sans-serif;
    font-size: 0.85rem;
    font-weight: 500;
    box-sizing: border-box;
}

html {
    font-size: 1rem;
}

/* General: Header */

.header-i {
    height: 58px;
    width: 100%;
    background-color: #333333;
    z-index: 1;
}

.logo-y-nav-i {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo-i {
    margin-left: 10px;
    flex: 1;
}

.header-arrows-i label {
    font-size: 2rem;
    margin-right: 10px;
    color: #ffffff;
    cursor: pointer;
}

.input-menu-i {
    display: none;
}

.input-menu-i:checked ~ .nav-list-i {
    transform: translateY(0);
}

.nav-list-i {
    width: 100%;
    top: 58px;
    background-color: #333333;
    position: absolute;
    transform: translateY(-100%);
    transition: all 500ms ease;
    z-index: -1;
}

.nav-list-i ul {
    margin: 10px 0;
}

.nav-list-i a {
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    display: block;
}

.nav-list-i a:hover {
    color: orange;
}

.nav-i li {
    float: left;
    margin: 0 10px 0;
}

.nav-i a {
    color: #ffffff;
    text-decoration: none;
}

.nav-i a:hover {
    color: orange;
}

.band-i {
    height: 8px;
    width: 100%;
    background-color: #399aa1;
}

/* General: Footer */

.footer-i {
    font-size: 0.8rem;
    height: 50px;
    width: 100%;
    background-color: #333333;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-i a {
    margin: 0 7.5px;
}

.fa {
    color: #ffffff;
}

/* 5. Page: Contacto */

.body-c {
    font-family: Quicksand, sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-container-c {
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../img/img-contacto1.jpg) center/cover no-repeat;
}

.form-container-c {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 25px;
    border: 2.6px solid #333333;
}

.form-c {
    margin: 10px 15px;
    padding: 5px 10px 10px;
    max-width: 500px;
    color: #333333;
}

.title-container-c {
    text-align: center;
}

.title-c {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 18px 0 0;
    color: #399aa1;
}

.label-c {
    font-weight: 700;
}

.input-c, .textarea-c {
    width: 100%;
    margin: 5px 0 10px;
    color: #399aa1;
    border-radius: 5px;
    border: 2.6px solid #399aa1;
}

.input-i:focus, .textarea-c:focus {
    outline-color: orange;
}

.span-c {
    color: red;
}

input[type="submit"] {
    padding: 5px;
    color: #ffffff;
    background-color: #399aa1;
    border-radius: 5px;
    border: 2.6px solid #399aa1;
    cursor: pointer;
}

/* Responsive design */

@media (min-width: 768px) {
    html {
        font-size: 1.25rem;
    }

    .header-i {
        min-height: 80px;
    }

    .logo-y-nav-i, .footer-i {
        min-height: 70px;
    }

    .band-i {
        height: 10px;
    }

    .img-container-c {
        background: url(../img/img-contacto2.jpg) center/cover no-repeat;
    }
}

@media (min-width: 1024px) {
    .body-c {
        justify-content: center;
    }

    .header-i {
        position: fixed;
        top: 0;
    }

    .band-i {
        position: fixed;
        top: 70px;
    }

    .img-container-c {
        height: 100vh;
        background: url(../img/img-contacto3.jpg) center/cover no-repeat;
    }

    .input-c, .textarea-c {
        padding: 5px 2.5px;
    }

    input[type="submit"] {
        padding: 10px;
    }
}

@media ((min-width: 1024px) and (min-height: 912px)) or (min-height: 1181px) {
    .footer-i {
        position: fixed;
        bottom: 0;
    }
}

/* Clases para validar */

.input-error {
    border-color: red;
}

input::placeholder {
    color: red;
}

textarea::placeholder {
    color: red;
}