@import "generalStyles.css";

body {
    font-family: Quicksand, sans-serif;
    font-weight: 500;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/running_16x9_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.main-f {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-start: 3;
    background-color: rgba(245, 245, 245, 0.699);
    margin: 0.5rem;
    padding: 0.5rem;
    max-width: 1500px;
}

.h2-f {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 18px 0;
    color: var(--color-tertiary);
}

.items-tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

form,
select {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    width: max-content;
}

.label-f {
    font-weight: 700;
}

.input-f {
    padding: 2px 4px;
}

.select-f {
    padding: 1px 0;
    background-color: var(--color-secondary);
}

.input-f, .select-f {
    margin: 5px 0 10px;
    color: var(--color-tertiary);
    border-radius: 5px;
    border: 2.6px solid var(--color-tertiary);
}

.input-f:focus, .select-s:focus {
    outline-color: var(--color-quaternary);
}

.fec_expiracion,
.total_abonar {
    font-weight: 700;
    color: var(--color-primary);
    width: max-content;
}

.span-f {
    color: var(--color-warning);
}

button {
    padding: 3.5px 8px;
    color: var(--color-secondary);
    background-color: var(--color-tertiary);
    border-radius: 5px;
    border: 2.6px solid var(--color-tertiary);
    cursor: pointer;
}

button:hover {
    font-weight: bold;
    color: var(--color-primary);
    background-color: var(--color-quaternary);
    border: 2.6px solid var(--color-quaternary);
}

.tarjeta_backend_desactiva {
    visibility: hidden;
}

.tarjeta_backend_activa {
    border: solid;
    border-color: white;
}

.tarjeta_frontend {
    border: solid;
    border-color: white
}

.alerta_numero_tarjeta {
    visibility: hidden;
    font-size: 0.8rem;
    color: red;
}

.alerta_desde_fecha {
    visibility: hidden;
    font-size: 0.8rem;
    color: red;
}

.alerta_hasta_fecha {
    visibility: hidden;
    font-size: 0.8rem;
    color: red;
}

.alerta_nom {
    visibility: hidden;
    font-size: 0.8rem;
    color: red;
}

.alerta_ape {
    visibility: hidden;
    font-size: 0.8rem;
    color: red;
}

.alerta_dni {
    visibility: hidden;
    font-size: 0.8rem;
    color: red;
}

.alerta_ult_num {
    visibility: hidden;
    font-size: 0.8rem;
    color: red;
}

.alerta_tipo_tarjeta {
    visibility: hidden;
    font-size: 0.8rem;
    color: red
}

.alerta_tarifa_abonar {
    visibility: hidden;
    font-size: 0.8rem;
    color: red
}

.alerta_select {
    visibility: hidden;
    font-size: 0.8rem;
    color: red
}

/* Extra small devices (600px and down) */

@media (max-width: 600px) {

    .mainitem,
    form,
    section {
        display: flex;
        flex-wrap: wrap;
        width: auto;
        height: auto;
    }

    .fec_expiracion,
    .total_abonar,
    label {
        color: var(--color-primary);
        width: max-content;
    }

    #tfrontend, #tback {
        width: 70%;
        height: 50%;
    }



}

/* Small devices (600px and up) */
@media (min-width: 600px) {
    #tfrontend, #tback {
        width: 70%;
        height: 50%;
    }
}

@media (min-width: 768px) {
    .label-f {
        font-size: 1rem;
    }

    .select-i {
        padding: 1.1px 0;
    }

    button {
        padding: 4px 8px;
    }
}

@media (min-width: 1024px) and (max-height: 1365px) {
    .input-f {
        padding: 5px 4px;
    }

    .select-f {
        padding: 4px 0;
    }

    .input-f, .select-f {
        border-radius: 7.5px;
    }

    button {
        padding: 7px 15px;
        border-radius: 7.5px;
    }
}

/* Móviles en horizontal o tablets en vertical */

@media (min-width: 768px) {}

/* Tablets en horizonal y escritorios normales */

@media (min-width: 1024px) {}

/* Escritorios muy anchos */

@media (min-width: 1200px) {}