@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

* {
    font-family: Quicksand, sans-serif;
    font-size: 0.85rem;
    font-weight: 500;
    box-sizing: border-box;
}

html {
    font-size: 1rem;
}

:root {
    --color-primary: #333333;
    --color-secondary: #ffffff;
    --color-tertiary: #399aa1;
    --color-quaternary: orange;
    --color-warning: red;
}

/* Header */

.header {
    height: 58px;
    width: 100%;
    background-color: var(--color-primary);
    z-index: 1;
}

.header-container {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.header-logo {
    margin: 1px 0 0 10px;
    flex: 1;
}

.header-arrows label {
    font-size: 2rem;
    margin-right: 10px;
    color: var(--color-secondary);
    cursor: pointer;
}

.input-menu {
    display: none;
}

.nav-list {
    width: 100%;
    top: 58px;
    background-color: var(--color-primary);
    position: absolute;
    transform: translateY(-100%);
    transition: all 500ms ease-in-out;
    z-index: -1;
}

.input-menu:checked ~ .nav-list {
    transform: translateY(-8%);
}

.nav-list ul {
    margin: 10px 0;
}

.nav-list a {
    padding: 10px;
    color: var(--color-secondary);
    text-decoration: none;
    display: block;
}

.header-arrows label:hover, .nav-list a:hover, .nav a:hover {
    color: var(--color-quaternary);
}

.nav li {
    float: left;
    margin: 0 10px 0;
}

.nav a {
    color: var(--color-secondary);
    text-decoration: none;
}

.band {
    height: 8px;
    width: 100%;
    background-color: var(--color-tertiary);
    transition: all 500ms ease-in-out;
}

/* Main */

main {
    transition: all 500ms ease-in-out;
}

/* Footer */

.footer {
    font-size: 0.8rem;
    height: 50px;
    width: 100%;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 500ms ease-in-out;
}

.footer a {
    margin: 0 7.5px;
}

.fa {
    color: var(--color-secondary);
}

/* Responsive design */

@media (min-width: 768px) {
    html {
        font-size: 1.25rem;
    }

    .header {
        height: 80px;
    }

    .header-container, .footer {
        height: 70px;
    }

    .band {
        height: 10px;
    }
}

/* Clases para estados */

.active-arrows {
    color: var(--color-quaternary);
    transform: rotate(180deg);
}